= semantic_form_for(@game) do |f| 
  - if @game.errors.any? 
    #error_explanation
      %h2
        = pluralize(@game.errors.count, "error") 
        prohibited this game from being saved:

      %ul
      - @game.errors.full_messages.each do |msg| 
        %li
          = msg 

  = f.input :name, :label => "Game Name"

  = f.input :albatros, :as => :string
  
  = f.input :fokker, :as => :string
  
  = f.input :halberstadt, :as => :string

  = f.input :pfalz, :as => :string

  = f.submit 
