= semantic_form_for(@game) do |f| 
  - if @game.errors.any? 
    #error_explanation
      %h2
        = pluralize(@game.errors.count, "error") 
        prohibited this game from being saved:

      %ul
      - @game.errors.full_messages.each do |msg| 
        %li
          = msg 

  = f.input :name, :label => "Game Name"

  = f.input :albatros_email, :as => :string, :label => "Albatros"
  
  = f.input :fokker_email, :as => :string, :label => "Fokker"
  
  = f.input :halberstadt_email, :as => :string, :label => "Halberstadt"

  = f.input :pfalz_email, :as => :string, :label => "Pfalz"

  = f.submit 
