<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :turn %><br />
    <%= f.number_field :turn %>
  </div>
  <div class="field">
    <%= f.label :allied_power %><br />
    <%= f.number_field :allied_power %>
  </div>
  <div class="field">
    <%= f.label :german_morale %><br />
    <%= f.number_field :german_morale %>
  </div>
  <div class="field">
    <%= f.label :allied_morale %><br />
    <%= f.number_field :allied_morale %>
  </div>
  <div class="field">
    <%= f.label :inflation %><br />
    <%= f.number_field :inflation %>
  </div>
  <div class="field">
    <%= f.label :contracts_available %><br />
    <%= f.number_field :contracts_available %>
  </div>
  <div class="field">
    <%= f.label :contracts_used %><br />
    <%= f.number_field :contracts_used %>
  </div>
  <div class="field">
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
