-# Renders a single game in summary format, such as found on the index page
-# Local variables required: "game" (Game instance)

%tr
  %td.left
    = game.action_required?(current_user) ? "!" : ""

  %td.left
    = link_to game.name, game
  %td
    = game.turn
  %td
    = game.german_morale
  %td
    = game.allied_morale
  %td
    = game.allied_power
  %td
    = "#{game.inflation * 10}%"
  %td
    = game.contracts_available

