-# Renders a single game in summary format, such as found on the index page
-# Local variables required: "game" (Game instance)

%tr
  %td.left
    = game.action_required?(current_user) ? "!" : ""

  %td.left
    = link_to game.name, game
  %td{ id: "turn" }
    = game.turn
  %td{ id: "german_morale" }
    = game.german_morale
  %td{ id: "allied_morale" }
    = game.allied_morale
  %td{ id: "allied_power" }
    = game.allied_power
  %td{ id: "inflation" }
    = "#{game.inflation * 10}%"
  %td{ id: "contracts_available" }
    = game.contracts_available

