- content_for :title do
  WftB Online: Games List

- if user_signed_in?

  %h1 Games I Created

  - if @my_games.size > 0

    %table
      = render "summary_header"

      - @my_games.each do |game|
        = render :partial => "summary", :locals => { :game => game }

  - else

    None

  - if user_signed_in?
    %br
    = link_to 'Create New Game', new_game_path


  -#  h1 Games I'm Playing

  %h1 Other Games

- else

  %h1 Current Games

- if @other_games.size > 0

  %table
    = render "summary_header"

    - @other_games.each do |game|
      = render :partial => "summary", :locals => { :game => game }

- else
  
  None

  
