- content_for :title do
  WftB Online: Games List

- if user_signed_in?

  - if @my_games.size > 0

    %table
      %caption Games I Created
      = render "summary_header"

      - @my_games.each do |game|
        = render :partial => "summary", :locals => { :game => game }

  - else

    None

  - if user_signed_in?
    %br
    = link_to 'Create New Game', new_game_path

- if @other_games.size > 0

  %table
    %caption
      = user_signed_in? ? "Other Games" : "Current Games"

    = render "summary_header"

    - @other_games.each do |game|
      = render :partial => "summary", :locals => { :game => game }

- else
  
  None

  
