%table.gameInfo
  = render "summary_header"
  = render :partial => "summary", :locals => { :game => @game }

%br

%table.gameInfo
  %tr
    %th.left Player
    %th Score
    %th Bank
    %th Power
    %th Factories

  - @game.games_players.each do |gp|
    %tr
      %td.left
        = "#{gp.side_name} (#{gp.user.email})"
      %td
        = gp.score
      %td
        = gp.bank
      %td
        = gp.power
      %td
        = gp.factories

= link_to 'Edit', edit_game_path(@game)
|
= link_to 'Back', games_path
