%table
  %tr
    %th Name
    %td
      = @game.name

  %tr
    %th Turn
    %td
      = @game.turn

  %tr
    %th Allied Power 
    %td
      = @game.allied_power 

  %tr
    %th German morale
    %td
      = @game.german_morale 

  %tr
    %th Allied morale
    %td
      = @game.allied_morale 

  %tr
    %th Inflation
    %td
      = "#{@game.inflation}%"

  %tr
    %th Contracts available
    %td
      = @game.contracts_available 

%br

%table
  %tr
    %th Player
    %th Score
    %th Bank
    %th Power
    %th Factories

  - @game.games_players.each do |gp|
    %tr
      %td
        = "#{gp.side_name} (#{gp.user.email})"
      %td
        = gp.score
      %td
        = gp.bank
      %td
        = gp.power
      %td
        = gp.factories

= link_to 'Edit', edit_game_path(@game)
|
= link_to 'Back', games_path
