%table.gameInfo
  = render "summary_header"
  = render :partial => "summary", :locals => { :game => @game }

%br

%table.gameInfo
  %tr
    %th.left Player
    %th Score
    %th Bank
    %th Power
    %th Factories
    %th.left Orders

  - Game.player_names.each do |side_name|
    - p = @game.find_player_by_side_name(side_name)
    - if p
      %tr
        %td.left
          = "#{side_name} (#{p.user.email})"
        %td
          = p.score
        %td
          = p.bank
        %td
          = p.power
        %td
          = p.factories
        %td.left
          - o = current_orders_for_user(current_user, p)
          - if o.respond_to? :size  # it's an array
            = semantic_form_for p, { :html => { :class => "orders_form" } } do |f|
              = f.input :order1, :as => :select, :collection => GamesPlayersOrder.options,
                                                 :input_html => { :multiple => false },
                                                 :include_blank => false
              = f.input :order2, :as => :select, :collection => GamesPlayersOrder.options,
                                                 :input_html => { :multiple => false },
                                                 :include_blank => false
              = f.action :submit, :label => "Done"

          - elsif o
            Orders Entered

          - else
            No Orders Yet

%br
- if user_signed_in? && @game.creator == current_user
  = link_to "Execute War Status Phase", do_war_status_game_path

%br
= link_to "Edit", edit_game_path(@game)
|
= link_to "Back", games_path
